[class*="col-"] {
    color: white;
    background-color: rgb(19, 108, 224);
    border: 1px solid white;
    padding: 10px;
    text-align: center;
 }


 div.green {
    background-color: rgb(47, 218, 47);
    border: 1px solid rgb(19, 108, 224);
 }

 div.white{
     background-color: white;
     border: none;
 }

 div.empty-hg{
     height: 35px;
 }